.App {
  text-align: center;
  background-color: lightsalmon;
  padding-bottom : 750px;
  padding-top : 10px;
}

.in {
  margin: 0 auto 0 0;
}


.block {
  color: black;
  font-size: 1.2rem;
  margin-top: 0.5%;
  padding: 0 10px 10px 10px;
}

